USE [master]
GO
/****** Object:  Database [integra]    Script Date: 13/01/2022 1:18:57 PM ******/
CREATE DATABASE [integra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'integra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\integra.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'integra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\integra_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [integra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [integra]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 13/01/2022 1:18:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[apellidoEmpleado] [varchar](50) NULL,
	[nombreEmpleado] [varchar](50) NULL,
	[telefonoEmpleado] [varchar](50) NULL,
	[correoEmpleado] [varchar](50) NULL,
	[fotoEmpleado] [varchar](max) NULL,
	[fechaContratoEmpleado] [varchar](50) NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
